earnotebooks/

# Ignore all notebooks
*.ipynb


# Ignore all database files
*.db
*.sqlite
*.sqlite3
*.dbf
*.db-journal
*.parquet

# Ignore csv files
*.csv

# Exceptions
!data/external/pnb.csv

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore environment file
.yml
.env